.container {
  width: 90%;
  margin: auto;

}

img {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}
.catDiv {
  margin-top: 10px;
  text-align: center;

}

.clickSum {
  display: none;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: 600;
  color: red;
}

#digit {
  font-size: 1,8em;
}
